@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'BArlow Condensed', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("/Images/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1.6rem;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
}

nav img{
    width: 160px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 13px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* I am yet to understand this pseudo-element. All I know is that it enabled
   a underline with the specified color. 
   But with practice I will get to understand it
 */
.nav-links ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #f44336;
     /*Brought about the display of the line provided the width is 100%*/
    display: block;
    transition: 0.5s ease-in-out;


}

.nav-links ul li:hover::after{
    width: 100%;
}
.opener{
    width: 8%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 3.8rem;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
}

.hero-btn{
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid white;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}

    .icon{
        width: 20px;
        background: transparent;
        cursor: pointer;
        display: none;
    }

    .close{
        border-radius: 5px;
    }
    .bar{
        height: 15px;
        position: absolute;
        top: 25px;
        right: 0;
        
    }

@media(max-width: 960px){
    .text-box h1{
        font-size: 1.25rem;
    }
    
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: steelblue;
        height: 100vh;
        width: 180px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }  
    
    .nav-links ul li:hover::after{
        width: 0%;
    }
    .icon{
        display: block;
        padding: 12px 13px;

    }

    nav .logo{
        width: 150px;
        position: absolute;
        top: 30px;
    }

    .nav-links ul li a{
        transition: all 0.4s;
        font-weight: bold;
    }
    .nav-links ul li a:hover{
        color: #f44336;
        font-size: 16px;
    }

}